<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow-sm">
      <div class="card-body p-4">

        <h1 class="h3 mb-3">Nova senha</h1>

        <%= form_with model: @user,
                      url: password_reset_path(params[:token]),
                      method: :patch,
                      local: true do |form| %>

          <div class="mb-3">
            <%= form.label :password, "Nova senha", class: "form-label" %>
            <%= form.password_field :password,
                                    class: "form-control",
                                    required: true,
                                    minlength: 6 %>
          </div>

          <div class="mb-3">
            <%= form.label :password_confirmation,
                           "Confirmar senha",
                           class: "form-label" %>

            <%= form.password_field :password_confirmation,
                                    class: "form-control",
                                    required: true,
                                    minlength: 6 %>
          </div>

          <%= form.submit "Salvar nova senha",
                          class: "btn btn-success w-100" %>

        <% end %>

      </div>
    </div>
  </div>
</div>