<%= form_with(model: barbershop) do |form| %>
  <% if barbershop.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(barbershop.errors.count, "error") %> prohibited this barbershop from being saved:</h2>

      <ul>
        <% barbershop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
