<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Atendimentos</h1>
  <%= link_to "Novo atendimento", new_appointment_path, class: "btn btn-primary" %>
</div>
<table class="table table-striped bg-white">
<thead><tr><th>Cliente</th><th>Serviço</th><th>Pontos</th><th>Pago</th><th>Data</th></tr></thead>
<tbody>
<% @appointments.each do |a| %>
<tr><td><%= a.customer.name %></td><td><%= a.service.name %></td><td><%= a.points %></td><td><%= a.paid ? "Sim" : "Não" %></td><td><%= l(a.created_at, format: :short) %></td></tr>
<% end %>
</tbody>
</table>
